---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>💁‍♂️ 頑張るちゃむ</h1>
			<p>
				ここではZenn等に書いたら確実に怒られるけど書きたいことを書きます。頑張るぞ。
			</p>
			<p>今のところやりたいことリスト一覧</p>
			<ul>
				<li>スプーンの本当の正解を探求したい</li>
				<li>ケンカで怒鳴り声を検知したら赤ちゃんの顔が浮き出るアプリを作りたい</li>
				<li>絵描き構図の補助線を自動で引いてくれるアプリ</li>
				<li>綺麗なうんち</li>
				<li>トイレに行きたい</li>
			</ul>
		</main>
		<Footer />
	</body>
</html>
