---
import type { HTMLAttributes } from 'astro/types';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
// biome-ignore lint/style/useTemplate: <explanation>
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a
  href={href}
  class:list={[
    className,
    'relative text-gray-700 hover:text-yellow-500 transition-colors duration-300 font-medium',
    'after:absolute after:bottom-[-4px] after:left-0 after:h-[2px] after:bg-yellow-500 after:transition-all after:duration-300',
    'after:w-0 hover:after:w-full',
    isActive && 'text-yellow-600 after:w-full',
  ]}
  {...props}
>
  <slot />
</a>
